:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.demo-section+.demo-section {
  margin-top: 16px;
}

.example-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.menuIcon {
  color: white;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.mat-toolbar {
  background-color: var(--A1);
  color: white;
}

.container {
  max-width: 800px;
}

h3 {
  color: #343a40;
}

button {
  margin: 10px;
}

mat-card-content {
  padding: 5%;
}

mat-sidenav {
  width: 20%;
}
.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
}

mat-nav-list {
  .logo_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 130px;
    margin:25%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 15px;

    #foto-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      background-color: rgb(198, 255, 250);
      background-blend-mode: color-burn;
      box-shadow: 2px 4px 4px 4px rgba(64, 60, 60, 0.231);
      border-radius: 50%;
      overflow: hidden;
      transition: 0.5s;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.5s;
      }
    }
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0px 0px 10px;
    #listID {
      margin-left: 20%;
      font-size: 16px;
    }
  }
  #drawer {
    margin-left: 10px;
  }
  a:hover {
    background-color: #1e2fe848;
  }

  label {
    margin-left: 5px;
    color: aliceblue;
  }

  .salir {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

    #divSalir {
      width: 60%;
      background-color: #5a5e632f;
      border-radius: 15px;
      div {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .mis-datos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #5a5e632f;
    padding: 5%;
    margin: 10%;
    margin-top: 3%;
    margin-bottom: 1%;
    border-radius: 15px;

    #foto {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90px;
      height: 90px;
      box-shadow: 2px 4px 4px 4px rgba(64, 60, 60, 0.231);
      border-radius: 50%;
      overflow: hidden;
      transition: 0.5s;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    #foto:hover {
      scale: 1.05;
      transition: 0.5s;
      cursor: pointer;
      img {
        transition: 0.5s;
        opacity: 85%;
      }
    }

    .btn-datos {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      background-color: #FFB200;
      border-color: #343a4027;
      width: 80%;
      mat-icon { width: fit-content; }
    }

  }

  mat-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
  }
}

.buttonLeftSide{
  background-color: #e29e00;
  border-radius: 0px 10px;
}




.contenedor-router {
  height: 100vh;
  background-color: var(--A2); /* Solo para visualización */
  overflow: scroll;
  padding: 3%;
}
