<div class="bg__perfil">
  <div class="ox-cont-in perfil">
    <div class="perfil__usuario">
      <div class="ox-ph-cir">
        <img src="assets/Organizacion/ME.png" alt="Foto del elemento" />
      </div>

      <div class="campo">
        <p class="usuario__nom">Edgar Antonio Chico Pozo</p>
      </div>

      <div class="campo">
        <div class="usuario__rfc">
          <p><i class="bi bi-fingerprint"></i>BLKD03892JD</p>
        </div>
      </div>
      <div class="campo">
        <div class="usuario__correo">Cliente gmail.com</div>
      </div>

      <div class="campo ox-sw">
        <a class="btn-principal" href="#">
          <i class="bi bi-person-fill-gear"></i> Corrección de datos
        </a>
      </div>
    </div>

    <div class="perfil__info">
      <div class="campo campo__sex">
        <span>Sexo:</span>
        <p>Macuslino</p>
      </div>

      <div class="campo campo__fech-nc">
        <span>Fecha de cumpleaños:</span>
        <p>1/1/1999</p>
      </div>

      <div class="campo campo__tel">
        <span>Número telefonico:</span>
        <p>9364678978</p>
      </div>

      <div class="campo campo__fech-rg">
        <span>Fecha de registro:</span>
        <p>15/2/2025</p>
      </div>

      <div class="campo campo__sex">
        <span>Sexo:</span>
        <p>Macuslino</p>
      </div>

      <div class="campo campo__fech-nc">
        <span>Fecha de cumpleaños:</span>
        <p>1/1/1999</p>
      </div>

      <div class="campo campo__tel">
        <span>Número telefonico:</span>
        <p>9364678978</p>
      </div>

      <div class="campo campo__fech-rg">
        <span>Fecha de registro:</span>
        <p>15/2/2025</p>
      </div>
      <div class="campo campo__sex">
        <span>Sexo:</span>
        <p>Macuslino</p>
      </div>

      <div class="campo campo__fech-nc">
        <span>Fecha de cumpleaños:</span>
        <p>1/1/1999</p>
      </div>

      <div class="campo campo__tel">
        <span>Número telefonico:</span>
        <p>9364678978</p>
      </div>

      <div class="campo campo__fech-rg">
        <span>Fecha de registro:</span>
        <p>15/2/2025</p>
      </div>
    </div>
  </div>
</div>
