.bg__perfil {
  border-radius: 1rem;
  background-color: var(--B);
}
p {
  margin: 0;
}
.perfil {
  display: flex;
  gap: 3rem;
}

.perfil__usuario {
  border: solid 0.2rem var(--G1T);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  width: 40rem;
  border-radius: 1rem;
}

.perfil__info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2rem;
}

.perfil__info .campo {
  border-bottom: solid 0.2rem var(--G1T);
}
