.login {
  display: flex;
  background-color: rgb(0, 0, 0);
  width: 100%;
  min-height: 100vh;  /* Asegura que el body ocupe toda la altura de la pantalla */
  flex-direction: column;  /* Para alinear el contenido en columna */
  /* border: 3px solid greenyellow*/
}

.login__container {
  height: 400px;
  width: 600px;
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  color: var(--G1);
  background-color: var(--G3);
  border-radius: 15px;
}

.login__info {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.login__img {
  width: 50%;
  height: auto;
  background-image: url("/assets/Portadas/RegistroPC.svg");
  background-position: center center;
  /* Centra la imagen en ambas direcciones */
  background-size: 90%;
  /* Ajusta el tamaño relativo de la imagen */
  background-repeat: no-repeat;
  background-color: var(--G2);
  /* Color para el padding */
  padding: 20px;
}

.login__title {
  text-transform: capitalize;
  font-size: 35px;
  letter-spacing: 1px;
  color: var(--G1);
}

.login__imputs {
  height: 70%;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-weight: lighter;
}

.login__input,
.login__btn {
  width: 90%;
  height: 40px;
  font-size: 1em;
}

.login__input {
  padding-left: 20px;
  border: none;
  border-radius: 5px;
  letter-spacing: 1px;
}

.login__input:hover {
  border: 2px solid var(--AM1);
}

.login__btn {
  width: 80%;
  letter-spacing: 1px;
  background-color: var(--AM1);
  border-radius: 5px;
  cursor: pointer;
  border: none;
  color: var(--B);
}

.login__imputs p {
  margin: 0;
}

.login__span {
  color: var(--AM1);
  font-weight: bold;
  cursor: pointer;
}

/*Responsive*/

@media screen and (max-width: 800px) {
  .login__img {
    display: none;
  }

  .login__container {
    width: 70%;
    height: 50%;
    margin-top: 100px;
  }

  .login__info {
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .login__container {
    width: 90%;
  }
}
