/* Estilos de letras de Google Fonts */
.itim-regular {
  font-family: "Itim", serif;
  font-weight: 400;
  font-style: normal;
}
.atkinson-hyperlegible-mono {
  font-family: "Atkinson Hyperlegible Mono", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.poppins-light {
  font-family: "Poppins", serif;
}

:root {
  --B: #FFFFFF;
  --N: #000000;
  --A1: #00225A;
  --A2: #6188B9;
  --A3: #F2FEFE;
  --AM1: #E8AB1E;
  --G1: #242424;
  --G2: #eadbff;
  --G3: #f8f3ff;
  --G1T: #2424241a;
}
a {
  text-decoration: none;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 14px; /* Ajusta según tu preferencia */
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.sombra {
  -webkit-box-shadow: 13px 13px 13px -8px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 13px 13px 13px -8px rgba(0, 0, 0, 0.36);
  box-shadow: 13px 13px 13px -8px rgba(0, 0, 0, 0.36);
}

.contenedor-in {
  max-width: 120rem;
  width: 95%;
  margin: 0 auto;
}

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}

